<div layout="column">
    <td-data-table [data]="items" [columns]="columns">
        <ng-template tdDataTableTemplate="photoUrl" let-value="value">
            <img [src]="value" />
        </ng-template>
        <ng-template tdDataTableTemplate="id" let-value="value">
            <button mat-icon-button matTooltip="Edit customer">
                <mat-icon>edit</mat-icon>
            </button>
        </ng-template>
    </td-data-table>
    <div class="mat-padding" *ngIf="items.length === 0" layout="row" layout-align="center center">
        <h3>No results to display.</h3>
    </div>
    <td-paging-bar #pagingBar [pageSize]="10" [total]="10" (change)="page($event)">
        <span td-paging-bar-label hide-xs>Row per page:</span>
        {{pagingBar.range}}
        <span hide-xs>of {{pagingBar.total}}</span>
    </td-paging-bar>
</div>
<button (click)="create()" mat-fab color="accent" matTooltip="Add new customer" matTooltipPosition="before" class="mat-fab-bottom-right z-3 fixed fab-pad">
    <mat-icon>add</mat-icon>
</button>